@font-face {
  font-family: ghostclan;
  src: url('../../assets/fonts/ghostclan/ghostclan.ttf');
}

@font-face {
  font-family: karma;
  src: url('../../assets/fonts/karma/tt/karma suture.ttf');
}

@font-face {
  font-family: 'press start';
  src: url('../../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}
